In [1]:
import pandas as pd

In [2]:
data_df = pd.read_csv('sf_business_cleaned.csv')

C:\Users\redwa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_df.head()

,owner_number,business_number,location_number,owner_name,business_name,street_address,city,state,zipcode,latlong,neighborhood,business_start,business_end,location_start,location_end,naics_code,lic_code,parking_tax,transient_occupancy_tax
0,28.0,1,1,Ferrando Louise,3101 Laguna Apts,3101 Laguna St,san francisco,CA,94123.0,"(37.799823, -122.430996)",Marina,1993-09-30,NaN,1993-09-30,NaN,Real Estate and Rental and Leasing Services,NaN,False,False
1,52.0,1,1,Ideal Novak Corp,Ideal Novak Corp,8 Mendosa Ave,san francisco,CA,94116.0,"(37.748926, -122.465074)",West of Twin Peaks,1968-10-01,NaN,1968-10-01,NaN,Real Estate and Rental and Leasing Services,NaN,False,False
2,71.0,1,1,Tournahu George L,Tournahu Arms,1842 Jefferson St,san francisco,CA,94123.0,"(37.804734, -122.442997)",NaN,1968-10-01,NaN,1968-10-01,2013-12-31,Real Estate and Rental and Leasing Services,NaN,False,False
3,71.0,2,1,Tournahu George L,3301 Broderick Apartments,3301 Broderick St,san francisco,CA,94123.0,"(37.800876, -122.444757)",Marina,1968-10-01,NaN,1988-05-01,2013-12-31,Real Estate and Rental and Leasing Services,NaN,False,False
4,71.0,3,1,Tournahu George L,1840-42 Jefferson St,1840 Jefferson St #42,san francisco,CA,94123.0,"(37.804759, -122.442794)",NaN,1968-10-01,NaN,1991-10-07,NaN,Real Estate and Rental and Leasing Services,NaN,True,False

In [5]:
data_df.dtypes

owner_number               float64
business_number              int64
location_number              int64
owner_name                  object
business_name               object
street_address              object
city                        object
state                       object
zipcode                    float64
latlong                     object
neighborhood                object
business_start              object
business_end                object
location_start              object
location_end                object
naics_code                  object
lic_code                    object
parking_tax                   bool
transient_occupancy_tax       bool
dtype: object